body {
  font-family: Arial, Helvetica, sans-serif;
}

.login-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ffffff;
}

.form-container {
  padding: 2rem 1.5rem;
  text-align: center;
  order: 1;
}

.logo {
  width: 180px;
  margin: 0 auto 1rem;
  display: block; 
}

.system-title {
  font-size: 1.3rem;
  color: #EA7822;
  background-color: #ffffff;
  margin-bottom: 2rem;
  font-weight: bold;
}

.role-title {
  background-color: rgba(54, 143, 54, 0.9);
  color: #fff;
  padding: 0.3rem 0;
  border-radius: 3px;
  width: 350px;
  margin: 0 auto 1.5rem;
  font-weight: bold;
}

.login-form {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 380px; 
  width: 100%;
  text-align: left; 
}

.login-form label {
  font-weight: 600;
  margin-bottom: 0.3rem;
  text-align: left; 
}

.login-form input {
  padding: 0.7rem 0.9rem; /* dagdag laki ng input */
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 95%; /* sakto lang, hindi full width */
  margin: 0 auto 0 0px; /* align left */
}
.login-form input:hover {
  border-color: #EA7822;
}

.input-group {
  display: flex;
  width: 95%; /* sakto lang, parehas sa input */
  margin: 0 auto 0 0;
}

.input-group .form-control {
  flex: 1;
  border-radius: 6px 0 0 6px; /* rounded sa left side */
}

.toggle-btn {
  border-radius: 0 6px 6px 0 !important; /* rounded sa right side ng button */
}

.login-btn {
  background-color: #EA7822;
  color: white;
  padding: 0.7rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  width: 95%; /* same width ng input */
  margin: 1rem auto 0 0; /* align left */
  text-align: center;
}

.login-btn:hover {
  background-color: #d6691e;
  color: black;
}


.toggle-btn {
  border-radius: 0 4px 4px 0 !important;
}

.shuttle-container {
  width: 100%;
  flex-shrink: 0;
  margin-top: 4vh;
  order: 2;
}

.shuttle-img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .login-container {
    flex-direction: row;
  }

  .shuttle-container {
    order: 1;
    max-width: 60%;
    height: 100vh;
    overflow: hidden;
  }

  .shuttle-img {
    height: 100%;
    width: 90%;
    object-fit: cover;
    object-position: left center;
  }

  .form-container {
    order: 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .form-container {
    padding: 6rem 2rem;
    text-align: center;
  }

  .logo {
    width: 220px;
  }

  .system-title {
    font-size: 1rem;
    font-weight: bold;
  }
}

@media (max-width: 767px) {
   .shuttle-img {
    width: 100%;
    height: auto;
    display: none;
    margin: 0;
    padding: 0;
  } 

  .role-title {
    width: 90%;
    max-width: 330px;
  }
}